<page-header [title]="''"></page-header>
<form nz-form #f="ngForm" [nzLayout]="'vertical'">
  <nz-card [nzBordered]="false" nzTitle="客户基础信息">
    <nz-row nzGutter="16">
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>客户编码</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="obj._id" name="num" maxlength="30" readonly/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzRequired>客户名称</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="obj.name" name="name" maxlength="20" [readonly]="!editer" required/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>客户全称</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="obj.allname" name="allname" maxlength="20" [readonly]="!editer"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>客户注册地址</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="obj.address" name="address" maxlength="50" [readonly]="!editer"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>负责人</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="obj.contacts" name="contacts" maxlength="10" placeholder="10字以内"
                   [readonly]="!editer"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>联系电话</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="obj.tel" name="tel" maxlength="30" [readonly]="!editer"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzLg="16" nzMd="12" nzSm="24">
        <nz-form-label>客户简介</nz-form-label>
        <nz-form-control>
          <textarea nz-input row="4" [(ngModel)]="obj.introduction" name="introduction" maxlength="300"
                    placeholder="300字以内"></textarea>
        </nz-form-control>
      </nz-col>
    </nz-row>
  </nz-card>

  <nz-card [nzBordered]="false" nzTitle="电表开户">
    <nz-table [nzData]="obj.emeter.values()" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>电表号</th>
        <th>累计购电金额</th>
        <th>购电次数</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of obj.emeter; let i = index">
        <td>
          <span *ngIf="editIndex!==i">{{obj.emeter[i].meterNo}}</span>
        </td>
        <td>
          <span *ngIf="editIndex!==i">{{obj.emeter[i].workId}}</span>
        </td>
        <td>
          <span *ngIf="editIndex!==i">{{obj.emeter[i].department}}</span>
        </td>
        <td>
            <span *ngIf="editIndex!==i">
              <a (click)="edit(i)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <nz-popconfirm (nzOnConfirm)="del(i)" [nzTitle]="'是否要删除此行？'">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>
            </span>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <button nz-button [nzType]="'dashed'" (click)="add()" class="ant-btn__block mt-md">
      <i class="anticon anticon-plus"></i>
      <span>新增电表</span>
    </button>

  </nz-card>
  <footer-toolbar>
    <button nz-button [disabled]="!f.form.valid || !f.form.dirty" [nzLoading]="isConfirmLoading" [nzType]="'primary'"
            *ngIf="editer"
            (click)="handleOk()">保存
    </button>
  </footer-toolbar>
</form>


