<nz-card [nzBordered]="false">
  <div nz-row>
    <button nz-button (click)="showModal()" [nzType]="'primary'">
      <i class="anticon anticon-plus"></i>
      <span>新建社区</span>
    </button>
  </div>
  <nz-divider class="mb-lg"></nz-divider>
  <form #communityForm="ngForm" (ngSubmit)="handleOk()">
    <button nz-button type="button" (click)="handleCancel()">关闭</button>
    <button nz-button [disabled]="!communityForm.form.valid || !communityForm.form.dirty" [nzLoading]="http.loading"
            [nzType]="'primary'">保存
    </button>
  </form>
</nz-card>
